.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-prev {
  color: #3a6bae !important;
  font-weight: 600;
  /* transform: translateX(); */
}

.swiper-button-next {
  color: #3a6bae !important;
  font-weight: 600;
}
